{% comment %}This is snippets file{% endcomment %}
{% if settings.est_xlsx != blank %}
<div class="pdp_estimate--delivery">
  <div class="pdp_estimate--main">
    <div class="delivery_header">
      {% if settings.title != blank %}
        <div class="delivery_heading">
          {{ settings.title }}
        </div>
      {% endif %}
      {% if settings.subtitle != blank %}
        <div class="delivery_subheading">
          {{ settings.subtitle }}
        </div>
      {% endif %}
    </div>
    <div class="estimate--delivery_wrap">
      <input type="text" class="pincode_value" placeholder="Enter Pincode">
      <button type="button" class="pin_check">check</button>
    </div>
    <div class="pincode_checker_message"></div>
  </div>
</div>
{% endif %}